footer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    padding: 1% 0px;
    background-color: black;
    box-shadow: 0 -5px white;
    border-radius: 50px 50px 0 0;
}

footer a
{
    padding: 0 10%;
}

footer a img
{
    border: 0 solid;
    border-radius: 50%;
    width: 50%;
}