header nav
{
    background-color: #2F8F9D;
    width: 100%;
    box-shadow: 0 5px #63A5A2;
    border-radius: 0 0 50px 50px;
}

header h1 {
    font-size: 75px;
    text-align: center;
}

header nav ul {
    display: flex;
    flex-direction: row;
    width: 200px 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 30px;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    border-radius: 15% 50%;
    box-shadow: 2px 2px;
    text-decoration: none;
    margin: 0 10px;
    padding: 15px 25px;
    background-color: aqua;
}

header nav ul li a:hover {
    background-color: #63A5A2;
    transition: 0.3s all;
}


@media (max-width: 1500px)
{
    header nav{
        background-color: #B3E8E5;
    }
}