.ecran8
{
    width: 80%;
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
}

.ecran8 .L1
{
    flex: 1 100%;
}

.ecran8 .L2
{
    flex: 1;
}

.ecran8 img
{
    width: 200px;
    height: 200px;
    border: 5px solid;
    box-shadow: 10px 10px #63A5A2;
    margin: 5%;
    border-radius: 50%;
}