/* ecran 5*/
.ecran5 {
    width: 80%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.ecran5 img
{
    width: 75%;
    border: 5px solid;
    box-shadow: 5px 5px gray;
    border-radius: 25px;
}