/* ecran 2 */
.ecran2 {
    width: 80%;
    display: inline-flex;
    justify-content: space-between;
}

.ecran2 .right
{
    width: 50%;
    height: 100%;
}

.ecran2 .left
{
    margin: 10px 50px;
    width: 30%;
    height: 90%;
    border: 2 solid;
    border-radius: 10% 10%;
    box-shadow: 5px 5px gray;
    background-color: lightgray;
}