/* ecran 5*/
.ecran5 {
    width: 80%;
}

.ecran5 div{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    align-content: center;
}

.ecran5 img
{
    width: 75%;
    border: 5px solid;
    box-shadow: 5px 5px gray;
    border-radius: 25px;
}