/* ecran 2 */
.ecran2 {
    width: 100%;
    display: inline-flex;
}

.ecran2 .right
{
    width: 75%;
}

.ecran2 .left
{
    margin: 10px 10px;
    border-radius: 10% 0 0 10%;
    border: 0 solid;
    background-color: #82DBD8;
    width: 25%;
}