* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

#blocPrincipal {
    width: 100%;
    max-width: 2000px;
}

section
{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.ecran {
    height: 92vh;
    width: 80%;
    background-color: azure;
    border: 2px solid rgb(215, 231, 231);
    box-shadow: 10px 10px rgb(215, 231, 231);
    border-radius: 5%;
    margin: 2% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.ecran h3 {
    font-size: 55px;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display:none;
}

@media (max-width:952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}


@media (max-width:858px){
    .checkbtn{
        display: block;
    }

    nav{
        padding: 0 20px;
    }

    label.logo{
        width: 90%;
        text-align: center;
    }
    nav ul{
        display: inline-block;
        position:fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top:80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        width: 100%;
        margin: 0;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #05be4c;
    }
    #check:checked ~ ul{
        left:0;
    }
}